<% provide :title, t(".title") %>
<div class="account">
  <div class="container">
    <div class="account-top heading">
      <h2><%= t ".login" %></h2>
    </div>
    <div class="account-main">
      <div class="col-md-6 account-left">
        <h3><%= t ".exits_user" %></h3>
        <div class="account-bottom">
          <%= form_for :session, url: login_path do |f| %>
            <%= f.text_field :email, placeholder: true, required: true %>
            <%= f.password_field :password, placeholder: true, required: true %>
          <div class="address">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <span><%= t ".remember_me" %></span>
            <% end %>
            <div class="clearfix"></div>
            <%= f.submit t(".title") %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6 account-right account-left">
        <h3><%= t ".new_user" %></h3>
        <p><%= t ".content" %></p>
        <%= link_to t(".create"), signup_path %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
