<tr>
  <td><%= excercise.created_at %></td>
  <td><%= excercise.lesson.name %></td>
  <td><%= excercise.lesson.number_questions %></td>
  <td><%= excercise.status %></td>
  <td><%= excercise.result %></td>
  <td><%= link_to t(".start"), edit_lesson_excercise_path(excercise.lesson.id, excercise) %></td>
</tr>
