<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-12 account show">
    <section>
      <div class="account-gravatar">
        <%= gravatar_for @user %>
      </div>
      <div class="account-name">
        <h1>
          <%= @user.name %>
        </h1>
        <% if can? :update, @user %>
          <div class= "account_link">
            <%= link_to t(".edit"), "#"  %>
          </div>
        <% end %>
      </div>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <%= render "follow_form" if user_signed_in? %>
  </aside>
</div>
