<% provide :title, t(".title") %>
<% provide :table, t(".table_questions") %>
<% provide :add, t(".add_question") %>

<div class="container-fluid">
  <div class="card mb-3">
    <div class="card-header"><i class="fa fa-table"></i> <%= yield(:table) %></div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="add_pd">
          <%= link_to yield(:add), new_admin_question_path, class: "btn btn-primary" %>
          <div class="search-bar">
            <%= search_form_for @q, url: admin_questions_path do |f| %>
              <%= f.search_field :content_or_lesson_name_cont, id: "search-exc", placeholder: t(".search") %>
              <%= submit_tag t(".btn_search"), class: "form_submit" %>
            <% end %>
          </div>
        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr class="row_custom header">
              <th class="cell_custom"><%= t(".id") %></th>
              <th class="cell_custom"><%= sort_link @q, :lesson_name, t(".lesson_id") %></th>
              <th class="cell_custom"><%= sort_link @q, :content, t(".content") %></th>
              <th class="cell_custom"><%= t(".number_answers") %></th>
              <th colspan="2", class="cell_custom"><%= t(".action") %></th>
            </tr>
          </thead>
          <tbody>
            <%= render "questions" %>
          </tbody>
        </table>
        <div class="pag">
          <%= will_paginate %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <p>
      <%= t(".download") %>
      <%= link_to t(".csv"), admin_questions_path(format: Settings.questions.format_csv) %> |
      <%= link_to t(".excel"), admin_questions_path(format: Settings.questions.format_xls) %>
    </p>
  </div>
  <%= form_tag admin_csv_index_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag t(".import") %>
  <% end %>
</div>
